In [1]:
#imports for data processing and also for model making and running
import pandas as pd
import numpy as np


import cv2
from imutils import url_to_image
from urllib.error import HTTPError

from keras.utils import get_file
import tensorflow as tf
from tensorflow import keras
from keras import layers
from keras import optimizers
from keras.models import Sequential
from tensorflow.keras.applications import VGG19 as v
from keras.layers import Dense, Dropout, GlobalAveragePooling2D
from tensorflow.keras import regularizers

from sklearn.preprocessing import LabelEncoder

In [2]:
#imports for loop updates
from IPython.display import clear_output
import timeit

In [3]:
from google.colab import files
uploaded = files.upload()

Saving image-Sentiment-polarity-DFE.csv to image-Sentiment-polarity-DFE.csv

In [4]:
df = pd.read_csv('./image-Sentiment-polarity-DFE.csv')

In [5]:
df

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,which_of_these_sentiment_scores_does_the_above_image_fit_into_best,which_of_these_sentiment_scores_does_the_above_image_fit_into_best:confidence,imageurl,which_of_these_sentiment_scores_does_the_above_image_fit_into_best_gold,which_of_these_sentiment_scores_does_the_above_image_fit_into_best_gold_reason
0,694550568,True,golden,47,NaN,Positive,0.6395,http://farm1.staticflickr.com/20/71235476_3103...,Highly positive\nPositive,"He is smiling. => happy, joy"
1,694550569,True,golden,36,NaN,Positive,0.6458,http://farm4.staticflickr.com/3096/2584485524_...,Highly positive\nPositive,A beautiful scenery. => serenity
2,694550570,True,golden,35,NaN,Negative,0.8420,http://farm3.staticflickr.com/2880/11733997835...,Negative\nHighly negative,"They look serious. => sadness, fear"
3,694550571,True,golden,41,NaN,Positive,0.7216,http://farm4.staticflickr.com/3022/2286937150_...,Highly positive\nPositive,"A cute puppy. => happy, joy"
4,694550572,True,golden,46,NaN,Positive,0.8801,http://farm1.staticflickr.com/163/357381033_d0...,Highly positive\nPositive,"She looks fun. => fun, joy, happy"
...,...,...,...,...,...,...,...,...,...,...
15608,694566363,False,finalized,3,3/26/15 1:59,Positive,0.6705,http://farm3.static.flickr.com/2198/1572103607...,NaN,NaN
15609,694566364,False,finalized,3,3/26/15 2:13,Positive,0.3373,http://farm1.static.flickr.com/100/263134442_6...,NaN,NaN
15610,694566365,False,finalized,3,3/26/15 2:54,Positive,0.6663,http://farm2.static.flickr.com/1360/1392747419...,NaN,NaN
15611,694566366,False,finalized,3,3/26/15 2:46,Negative,0.6760,http://farm3.static.flickr.com/2077/1925076121...,NaN,NaN
15612,694566367,False,finalized,3,3/26/15 2:19,Positive,0.6683,http://farm3.static.flickr.com/2181/2458243267...,NaN,NaN

In [6]:
data = df[['which_of_these_sentiment_scores_does_the_above_image_fit_into_best','imageurl']]

In [7]:
data.rename(columns = {'which_of_these_sentiment_scores_does_the_above_image_fit_into_best':'sentiment'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [8]:
data

      sentiment                                           imageurl
0      Positive  http://farm1.staticflickr.com/20/71235476_3103...
1      Positive  http://farm4.staticflickr.com/3096/2584485524_...
2      Negative  http://farm3.staticflickr.com/2880/11733997835...
3      Positive  http://farm4.staticflickr.com/3022/2286937150_...
4      Positive  http://farm1.staticflickr.com/163/357381033_d0...
...         ...                                                ...
15608  Positive  http://farm3.static.flickr.com/2198/1572103607...
15609  Positive  http://farm1.static.flickr.com/100/263134442_6...
15610  Positive  http://farm2.static.flickr.com/1360/1392747419...
15611  Negative  http://farm3.static.flickr.com/2077/1925076121...
15612  Positive  http://farm3.static.flickr.com/2181/2458243267...

[15613 rows x 2 columns]

In [9]:
data.sort_values(by='sentiment',ascending=False,inplace=True,ignore_index=True)

/usr/local/lib/python3.8/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [10]:
data

             sentiment                                           imageurl
0             Positive  http://farm1.staticflickr.com/20/71235476_3103...
1             Positive  http://farm4.static.flickr.com/3164/2595593469...
2             Positive  http://farm4.static.flickr.com/3279/2676243193...
3             Positive  http://farm1.static.flickr.com/125/355684874_e...
4             Positive  http://farm1.static.flickr.com/64/176433529_cb...
...                ...                                                ...
15608  Highly negative  http://farm4.static.flickr.com/3037/2599423131...
15609  Highly negative  http://farm3.static.flickr.com/2259/2284903984...
15610  Highly negative  http://farm7.staticflickr.com/6211/6295863341_...
15611  Highly negative  http://farm5.staticflickr.com/4027/4375152825_...
15612  Highly negative  http://farm4.staticflickr.com/3342/3206163156_...

[15613 rows x 2 columns]

In [11]:
x = data.iloc[:1000,:]

In [12]:
y = data.iloc[13000:14000,:]

In [13]:
truncated_data = x

In [14]:
truncated_data = truncated_data.append(y,ignore_index=True)

In [15]:
truncated_data

     sentiment                                           imageurl
0     Positive  http://farm1.staticflickr.com/20/71235476_3103...
1     Positive  http://farm4.static.flickr.com/3164/2595593469...
2     Positive  http://farm4.static.flickr.com/3279/2676243193...
3     Positive  http://farm1.static.flickr.com/125/355684874_e...
4     Positive  http://farm1.static.flickr.com/64/176433529_cb...
...        ...                                                ...
1995  Negative  http://farm1.static.flickr.com/151/423363936_1...
1996  Negative  http://farm3.static.flickr.com/2197/2452771603...
1997  Negative  http://farm1.static.flickr.com/63/199219063_09...
1998  Negative  http://farm3.static.flickr.com/2396/2172284070...
1999  Negative  http://farm2.static.flickr.com/1157/1334361005...

[2000 rows x 2 columns]

In [21]:
truncated_data = truncated_data.sample(frac=1,ignore_index=True)

In [22]:
truncated_data

     sentiment                                           imageurl
0     Negative  http://farm3.static.flickr.com/2003/2320950322...
1     Positive  http://farm3.static.flickr.com/2019/2126157105...
2     Positive  http://farm2.static.flickr.com/1208/605667281_...
3     Positive  http://farm1.static.flickr.com/197/494669271_b...
4     Negative  http://farm1.static.flickr.com/159/388599992_9...
...        ...                                                ...
1995  Positive  http://farm1.static.flickr.com/99/310737223_68...
1996  Positive  http://farm3.static.flickr.com/2279/2246403516...
1997  Negative  http://farm3.static.flickr.com/2267/2097660536...
1998  Negative  http://farm3.static.flickr.com/2196/2102009201...
1999  Negative  http://farm3.staticflickr.com/2088/2356741358_...

[2000 rows x 2 columns]

In [23]:
truncated_data['sentiment'].value_counts()

Negative    1000
Positive    1000
Name: sentiment, dtype: int64

In [24]:
training_images = truncated_data.iloc[:1000,:]
test_images = truncated_data.iloc[1000:,:]

print("Shape of new dataframes - {} , {}".format(training_images.shape, test_images.shape))

Shape of new dataframes - (1000, 2) , (1000, 2)

In [25]:
training_images['sentiment'].value_counts()

Positive    507
Negative    493
Name: sentiment, dtype: int64

In [26]:
test_images['sentiment'].value_counts()

Negative    507
Positive    493
Name: sentiment, dtype: int64

In [27]:
start = timeit.default_timer()

def get_data(d):
  x = []
  for i in range(len(d)):
    clear_output(wait=True)
    try:
      img = url_to_image(d[i])
    except HTTPError as err:
      if err.code == 404 or err.code == 410 or err.code == 104:
        training_images.drop([i], inplace=True)
        continue
      else:
       raise
    image = cv2.resize(img,(224,224),interpolation = cv2.INTER_AREA)
    x.append(image)

    stop = timeit.default_timer()

    if(i/len(d)*100)<5:
      expected_time = "Calculating..."
    else:
      time_perc =  timeit.default_timer()
      expected_time = np.round(((time_perc-start)/(i/len(d)))/60,2)

      print("Current Progress: ",np.round(i/len(training_images) * 100,2),"%")
      print("Current Run Time: ",np.round((stop-start) / 60,2),"minutes")
      print("Expected Run Time: ",expected_time,"minutes")
  x = np.array(x)
  return x

In [28]:
training_data = get_data(training_images['imageurl'])

Current Progress:  110.63 %
Current Run Time:  3.13 minutes
Expected Run Time:  3.13 minutes

In [29]:
from sklearn.preprocessing import LabelEncoder
def encode(t):
  encoder = LabelEncoder()
  
  encoder_df = pd.DataFrame(encoder.fit_transform(t[['sentiment']]))

  t = t.join(encoder_df)

  return t

In [30]:
training_images.reset_index(inplace=True)

In [31]:
training_images = encode(training_images)

training_images = training_images.dropna()

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
training_images

     index sentiment                                           imageurl  0
0        0  Negative  http://farm3.static.flickr.com/2003/2320950322...  0
1        1  Positive  http://farm3.static.flickr.com/2019/2126157105...  1
2        2  Positive  http://farm2.static.flickr.com/1208/605667281_...  1
3        3  Positive  http://farm1.static.flickr.com/197/494669271_b...  1
4        6  Positive  http://farm1.static.flickr.com/148/386488418_2...  1
..     ...       ...                                                ... ..
898    995  Negative  http://farm4.static.flickr.com/3226/2350113833...  0
899    996  Negative  http://farm1.static.flickr.com/121/314036511_d...  0
900    997  Negative  http://farm1.static.flickr.com/95/233313319_ad...  0
901    998  Negative  http://farm4.static.flickr.com/3085/2412068258...  0
902    999  Negative  http://farm3.static.flickr.com/2144/2248884431...  0

[903 rows x 4 columns]

In [33]:
training_images.drop('index',axis=1,inplace=True)

In [34]:
training_images

    sentiment                                           imageurl  0
0    Negative  http://farm3.static.flickr.com/2003/2320950322...  0
1    Positive  http://farm3.static.flickr.com/2019/2126157105...  1
2    Positive  http://farm2.static.flickr.com/1208/605667281_...  1
3    Positive  http://farm1.static.flickr.com/197/494669271_b...  1
4    Positive  http://farm1.static.flickr.com/148/386488418_2...  1
..        ...                                                ... ..
898  Negative  http://farm4.static.flickr.com/3226/2350113833...  0
899  Negative  http://farm1.static.flickr.com/121/314036511_d...  0
900  Negative  http://farm1.static.flickr.com/95/233313319_ad...  0
901  Negative  http://farm4.static.flickr.com/3085/2412068258...  0
902  Negative  http://farm3.static.flickr.com/2144/2248884431...  0

[903 rows x 3 columns]

In [35]:
training_label = training_images.iloc[:,2:3]

In [36]:
training_label

     0
0    0
1    1
2    1
3    1
4    1
..  ..
898  0
899  0
900  0
901  0
902  0

[903 rows x 1 columns]

In [38]:
training_label_categorical = tf.keras.utils.to_categorical(training_label,num_classes=2)
training_label_categorical

array([[1., 0.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [39]:
training_label_categorical.shape

(903, 2)

In [40]:
training_data.shape

(903, 224, 224, 3)

In [41]:
base_model_1 = v(input_shape=(224,224,3), weights='imagenet', include_top=False)
base_model_1.trainable = False #freeze the layers
base_model_1.summary()

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg19/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5
80134624/80134624 [==============================] - 3s 0us/step
Model: "vgg19"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_1 (InputLayer)        [(None, 224, 224, 3)]     0

 block1_conv1 (Conv2D)       (None, 224, 224, 64)      1792

 block1_conv2 (Conv2D)       (None, 224, 224, 64)      36928

 block1_pool (MaxPooling2D)  (None, 112, 112, 64)      0

 block2_conv1 (Conv2D)       (None, 112, 112, 128)     73856

 block2_conv2 (Conv2D)       (None, 112, 112, 128)     147584

 block2_pool (MaxPooling2D)  (None, 56, 56, 128)       0

 block3_conv1 (Conv2D)       (None, 56, 56, 256)       295168

 block3_conv2 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv3 (Conv2D)       (None, 56, 56, 256)       590080

 block3_conv4 (Conv2D)       (None, 56, 56, 256)       590080

 block3_pool (MaxPooling2D)  (None, 28, 28, 256)       0

 block4_conv1 (Conv2D)       (None, 28, 28, 512)       1180160

 block4_conv2 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv3 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_conv4 (Conv2D)       (None, 28, 28, 512)       2359808

 block4_pool (MaxPooling2D)  (None, 14, 14, 512)       0

 block5_conv1 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv2 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv3 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_conv4 (Conv2D)       (None, 14, 14, 512)       2359808

 block5_pool (MaxPooling2D)  (None, 7, 7, 512)         0

=================================================================
Total params: 20,024,384
Trainable params: 0
Non-trainable params: 20,024,384
_________________________________________________________________

In [42]:
model = tf.keras.Sequential([
    base_model_1,
    GlobalAveragePooling2D(),
    Dropout(0.5),
    Dense(512, activation='relu',kernel_regularizer=regularizers.L1L2(l1=1e-5, l2=1e-4),
    bias_regularizer=regularizers.L2(1e-4),
    activity_regularizer=regularizers.L2(1e-5)),
    Dense(2, activation='softmax')
])
model.summary()

model.compile(loss = 'binary_crossentropy', optimizer = tf.keras.optimizers.Adam(learning_rate = 0.001), metrics = ['acc'])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 vgg19 (Functional)          (None, 7, 7, 512)         20024384

 global_average_pooling2d (G  (None, 512)              0
 lobalAveragePooling2D)

 dropout (Dropout)           (None, 512)               0

 dense (Dense)               (None, 512)               262656

 dense_1 (Dense)             (None, 2)                 1026

=================================================================
Total params: 20,288,066
Trainable params: 263,682
Non-trainable params: 20,024,384
_________________________________________________________________

In [43]:
training_data = training_data*255

In [44]:
training_data

array([[[[175, 169, 172],
         [175, 170, 172],
         [174, 169, 171],
         ...,
         [180, 175, 176],
         [182, 179, 179],
         [179, 176, 177]],

        [[174, 173, 173],
         [175, 174, 174],
         [174, 173, 173],
         ...,
         [197, 192, 193],
         [186, 182, 181],
         [190, 185, 185]],

        [[174, 174, 174],
         [175, 175, 175],
         [174, 174, 173],
         ...,
         [190, 188, 188],
         [193, 189, 189],
         [187, 183, 184]],

        ...,

        [[223, 222, 193],
         [200, 199, 165],
         [215, 214, 154],
         ...,
         [239, 239, 239],
         [234, 234, 234],
         [234, 232, 233]],

        [[212, 211, 192],
         [194, 191, 170],
         [203, 200, 167],
         ...,
         [234, 233, 233],
         [230, 229, 229],
         [226, 223, 223]],

        [[211, 210, 196],
         [187, 185, 172],
         [190, 188, 174],
         ...,
         [233, 229, 230],
         [232, 230, 230],
         [226, 221, 222]]],


       [[[254, 251, 252],
         [245, 242, 242],
         [245, 244, 244],
         ...,
         [243, 243, 243],
         [242, 242, 242],
         [253, 253, 253]],

        [[224, 221, 222],
         [ 76,  74,  74],
         [ 75,  75,  75],
         ...,
         [ 73,  74,  74],
         [ 75,  75,  75],
         [221, 221, 221]],

        [[216, 213, 213],
         [  6,   6,   6],
         [ 26,  26,  26],
         ...,
         [ 25,  27,  27],
         [  4,   5,   5],
         [214, 214, 214]],

        ...,

        [[216, 216, 216],
         [  5,   5,   5],
         [ 26,  27,  27],
         ...,
         [ 26,  26,  26],
         [  5,   5,   5],
         [212, 212, 212]],

        [[224, 222, 222],
         [ 75,  75,  75],
         [ 74,  74,  74],
         ...,
         [ 73,  74,  74],
         [ 74,  75,  75],
         [223, 223, 223]],

        [[253, 252, 252],
         [243, 243, 243],
         [244, 245, 245],
         ...,
         [244, 245, 245],
         [243, 243, 243],
         [252, 252, 252]]],


       [[[196, 162, 158],
         [200, 158, 152],
         [197, 170, 173],
         ...,
         [209, 163, 181],
         [208, 162, 181],
         [206, 162, 181]],

        [[206, 176, 171],
         [199, 167, 165],
         [203, 179, 183],
         ...,
         [208, 162, 181],
         [208, 162, 181],
         [207, 162, 181]],

        [[211, 184, 180],
         [209, 184, 185],
         [200, 173, 177],
         ...,
         [209, 163, 182],
         [208, 162, 181],
         [208, 162, 181]],

        ...,

        [[167, 120, 109],
         [166, 122, 111],
         [162, 116, 107],
         ...,
         [217, 175, 156],
         [216, 174, 155],
         [218, 177, 158]],

        [[167, 123, 112],
         [165, 122, 112],
         [161, 115, 107],
         ...,
         [221, 179, 160],
         [217, 172, 152],
         [220, 178, 158]],

        [[165, 123, 112],
         [159, 117, 108],
         [158, 112, 104],
         ...,
         [227, 184, 165],
         [220, 179, 158],
         [221, 183, 161]]],


       ...,


       [[[214, 177,  82],
         [227, 193,  53],
         [220, 177,  34],
         ...,
         [218, 168,  38],
         [217, 167,  37],
         [218, 169,  37]],

        [[217, 182,  66],
         [219, 183,  38],
         [221, 172,  33],
         ...,
         [217, 167,  37],
         [216, 166,  36],
         [218, 169,  37]],

        [[217, 181,  44],
         [215, 174,  28],
         [215, 161,  26],
         ...,
         [216, 166,  36],
         [217, 167,  37],
         [219, 170,  38]],

        ...,

        [[ 39,  33,  18],
         [ 55,  40,  26],
         [ 50,  34,  20],
         ...,
         [ 20,  17,  12],
         [ 15,  14,  10],
         [ 16,  16,  13]],

        [[ 85,  65,  42],
         [107,  81,  60],
         [ 92,  69,  50],
         ...,
         [ 15,  16,  14],
         [ 13,  16,  16],
         [ 14,  17,  16]],

        [[115,  69,  34],
         [114,  67,  38],
         [ 91,  57,  31],
         ...,
         [ 10,  12,  12],
         [  9,  12,  14],
         [ 11,  15,  16]]],


       [[[111, 124, 132],
         [111, 124, 132],
         [111, 124, 132],
         ...,
         [119, 132, 140],
         [118, 132, 138],
         [115, 130, 137]],

        [[111, 124, 132],
         [111, 124, 132],
         [111, 124, 132],
         ...,
         [134, 147, 155],
         [132, 146, 152],
         [130, 143, 151]],

        [[111, 124, 132],
         [112, 125, 133],
         [111, 124, 132],
         ...,
         [155, 167, 175],
         [149, 162, 168],
         [141, 154, 161]],

        ...,

        [[254, 254, 254],
         [254, 254, 254],
         [254, 254, 254],
         ...,
         [243, 243, 247],
         [246, 244, 250],
         [247, 245, 250]],

        [[254, 254, 254],
         [254, 254, 254],
         [253, 253, 253],
         ...,
         [242, 241, 245],
         [246, 244, 250],
         [245, 243, 248]],

        [[254, 254, 254],
         [255, 255, 255],
         [254, 254, 254],
         ...,
         [242, 241, 245],
         [241, 239, 245],
         [243, 242, 247]]],


       [[[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        ...,

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]],

        [[  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0],
         ...,
         [  0,   0,   0],
         [  0,   0,   0],
         [  0,   0,   0]]]], dtype=uint8)

In [45]:
history = model.fit(training_data,training_label_categorical, batch_size=5, epochs=64, validation_split=0.25)

Epoch 1/64
136/136 [==============================] - 19s 72ms/step - loss: 2.7239 - acc: 0.5510 - val_loss: 1.2504 - val_acc: 0.6593
Epoch 2/64
136/136 [==============================] - 8s 62ms/step - loss: 1.2674 - acc: 0.6765 - val_loss: 0.9376 - val_acc: 0.5929
Epoch 3/64
136/136 [==============================] - 8s 62ms/step - loss: 0.8975 - acc: 0.6898 - val_loss: 0.8643 - val_acc: 0.5752
Epoch 4/64
136/136 [==============================] - 9s 63ms/step - loss: 0.7551 - acc: 0.7548 - val_loss: 0.8025 - val_acc: 0.6726
Epoch 5/64
136/136 [==============================] - 9s 64ms/step - loss: 0.7047 - acc: 0.7415 - val_loss: 0.8225 - val_acc: 0.6726
Epoch 6/64
136/136 [==============================] - 9s 64ms/step - loss: 0.6510 - acc: 0.7637 - val_loss: 0.7765 - val_acc: 0.6858
Epoch 7/64
136/136 [==============================] - 9s 65ms/step - loss: 0.6708 - acc: 0.7563 - val_loss: 0.8823 - val_acc: 0.6504
Epoch 8/64
136/136 [==============================] - 9s 66ms/step - loss: 0.5956 - acc: 0.8139 - val_loss: 0.7166 - val_acc: 0.7212
Epoch 9/64
136/136 [==============================] - 9s 65ms/step - loss: 0.5844 - acc: 0.8139 - val_loss: 0.8222 - val_acc: 0.6460
Epoch 10/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5905 - acc: 0.8183 - val_loss: 0.7535 - val_acc: 0.6814
Epoch 11/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5367 - acc: 0.8375 - val_loss: 0.7652 - val_acc: 0.6770
Epoch 12/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5272 - acc: 0.8272 - val_loss: 0.7988 - val_acc: 0.6593
Epoch 13/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5397 - acc: 0.8405 - val_loss: 0.7803 - val_acc: 0.6814
Epoch 14/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5097 - acc: 0.8346 - val_loss: 0.8415 - val_acc: 0.6106
Epoch 15/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5065 - acc: 0.8493 - val_loss: 0.7700 - val_acc: 0.6726
Epoch 16/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4552 - acc: 0.8789 - val_loss: 0.8721 - val_acc: 0.6460
Epoch 17/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4734 - acc: 0.8612 - val_loss: 0.7802 - val_acc: 0.6991
Epoch 18/64
136/136 [==============================] - 9s 64ms/step - loss: 0.5167 - acc: 0.8493 - val_loss: 0.7911 - val_acc: 0.6947
Epoch 19/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4608 - acc: 0.8656 - val_loss: 0.8453 - val_acc: 0.6681
Epoch 20/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4431 - acc: 0.8715 - val_loss: 0.8364 - val_acc: 0.6726
Epoch 21/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4524 - acc: 0.8730 - val_loss: 0.8606 - val_acc: 0.6283
Epoch 22/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4131 - acc: 0.9025 - val_loss: 0.9624 - val_acc: 0.6637
Epoch 23/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3836 - acc: 0.9114 - val_loss: 0.9371 - val_acc: 0.6283
Epoch 24/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4602 - acc: 0.8774 - val_loss: 0.8302 - val_acc: 0.6593
Epoch 25/64
136/136 [==============================] - 9s 67ms/step - loss: 0.4360 - acc: 0.8833 - val_loss: 0.8776 - val_acc: 0.6460
Epoch 26/64
136/136 [==============================] - 9s 64ms/step - loss: 0.4001 - acc: 0.9173 - val_loss: 0.8293 - val_acc: 0.6770
Epoch 27/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3901 - acc: 0.9069 - val_loss: 0.8751 - val_acc: 0.6416
Epoch 28/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3697 - acc: 0.9217 - val_loss: 0.8990 - val_acc: 0.6283
Epoch 29/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3324 - acc: 0.9350 - val_loss: 1.0725 - val_acc: 0.6327
Epoch 30/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3792 - acc: 0.9114 - val_loss: 0.8367 - val_acc: 0.6460
Epoch 31/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3287 - acc: 0.9291 - val_loss: 0.9417 - val_acc: 0.6681
Epoch 32/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3333 - acc: 0.9306 - val_loss: 0.9022 - val_acc: 0.6460
Epoch 33/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3208 - acc: 0.9409 - val_loss: 0.9397 - val_acc: 0.6681
Epoch 34/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3579 - acc: 0.9232 - val_loss: 1.0027 - val_acc: 0.6372
Epoch 35/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3700 - acc: 0.9217 - val_loss: 0.8869 - val_acc: 0.6593
Epoch 36/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3518 - acc: 0.9291 - val_loss: 0.9252 - val_acc: 0.6416
Epoch 37/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3299 - acc: 0.9350 - val_loss: 0.8531 - val_acc: 0.6770
Epoch 38/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3786 - acc: 0.9202 - val_loss: 0.9244 - val_acc: 0.6814
Epoch 39/64
136/136 [==============================] - 9s 65ms/step - loss: 0.3760 - acc: 0.9232 - val_loss: 1.0226 - val_acc: 0.6770
Epoch 40/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3126 - acc: 0.9483 - val_loss: 0.8467 - val_acc: 0.6903
Epoch 41/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3333 - acc: 0.9350 - val_loss: 0.8664 - val_acc: 0.6637
Epoch 42/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3129 - acc: 0.9394 - val_loss: 1.0438 - val_acc: 0.6416
Epoch 43/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3679 - acc: 0.9173 - val_loss: 1.1291 - val_acc: 0.6372
Epoch 44/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3678 - acc: 0.9247 - val_loss: 0.9825 - val_acc: 0.6239
Epoch 45/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3290 - acc: 0.9424 - val_loss: 0.8097 - val_acc: 0.6814
Epoch 46/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3672 - acc: 0.9217 - val_loss: 0.8853 - val_acc: 0.6549
Epoch 47/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3348 - acc: 0.9335 - val_loss: 0.8495 - val_acc: 0.6947
Epoch 48/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3005 - acc: 0.9498 - val_loss: 0.9129 - val_acc: 0.6549
Epoch 49/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2918 - acc: 0.9498 - val_loss: 1.0111 - val_acc: 0.6239
Epoch 50/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3585 - acc: 0.9202 - val_loss: 0.9506 - val_acc: 0.6504
Epoch 51/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3636 - acc: 0.9202 - val_loss: 1.0300 - val_acc: 0.6416
Epoch 52/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3437 - acc: 0.9306 - val_loss: 0.9886 - val_acc: 0.6372
Epoch 53/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2899 - acc: 0.9483 - val_loss: 0.9595 - val_acc: 0.6726
Epoch 54/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2820 - acc: 0.9586 - val_loss: 0.9897 - val_acc: 0.6283
Epoch 55/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2975 - acc: 0.9542 - val_loss: 1.1985 - val_acc: 0.6018
Epoch 56/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2886 - acc: 0.9572 - val_loss: 0.9503 - val_acc: 0.6770
Epoch 57/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3053 - acc: 0.9586 - val_loss: 0.9482 - val_acc: 0.6681
Epoch 58/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3089 - acc: 0.9394 - val_loss: 1.1137 - val_acc: 0.6239
Epoch 59/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3050 - acc: 0.9453 - val_loss: 1.0355 - val_acc: 0.6283
Epoch 60/64
136/136 [==============================] - 9s 64ms/step - loss: 0.3163 - acc: 0.9498 - val_loss: 0.9761 - val_acc: 0.6726
Epoch 61/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2734 - acc: 0.9645 - val_loss: 1.1186 - val_acc: 0.6327
Epoch 62/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2887 - acc: 0.9586 - val_loss: 0.9365 - val_acc: 0.6858
Epoch 63/64
136/136 [==============================] - 9s 68ms/step - loss: 0.2795 - acc: 0.9705 - val_loss: 1.2121 - val_acc: 0.6195
Epoch 64/64
136/136 [==============================] - 9s 64ms/step - loss: 0.2885 - acc: 0.9586 - val_loss: 1.1406 - val_acc: 0.6770

In [46]:
 training_images.shape

(903, 3)

In [47]:
model.evaluate(training_data,training_label_categorical)

29/29 [==============================] - 9s 226ms/step - loss: 0.4310 - acc: 0.9136

[0.4309696555137634, 0.9136212468147278]

In [48]:
test_images = truncated_data.iloc[1000:,:]
test_images.reset_index(inplace=True)
test_images

     index sentiment                                           imageurl
0     1000  Positive  http://farm1.static.flickr.com/26/62190334_ade...
1     1001  Negative  http://farm2.static.flickr.com/1092/1401073618...
2     1002  Positive  http://farm1.static.flickr.com/147/396718601_a...
3     1003  Positive  http://farm2.static.flickr.com/1067/710771991_...
4     1004  Negative  http://farm4.static.flickr.com/3293/2397993330...
..     ...       ...                                                ...
995   1995  Positive  http://farm1.static.flickr.com/99/310737223_68...
996   1996  Positive  http://farm3.static.flickr.com/2279/2246403516...
997   1997  Negative  http://farm3.static.flickr.com/2267/2097660536...
998   1998  Negative  http://farm3.static.flickr.com/2196/2102009201...
999   1999  Negative  http://farm3.staticflickr.com/2088/2356741358_...

[1000 rows x 3 columns]

In [49]:
test_images.drop('index',axis=1,inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [50]:
test_images

    sentiment                                           imageurl
0    Positive  http://farm1.static.flickr.com/26/62190334_ade...
1    Negative  http://farm2.static.flickr.com/1092/1401073618...
2    Positive  http://farm1.static.flickr.com/147/396718601_a...
3    Positive  http://farm2.static.flickr.com/1067/710771991_...
4    Negative  http://farm4.static.flickr.com/3293/2397993330...
..        ...                                                ...
995  Positive  http://farm1.static.flickr.com/99/310737223_68...
996  Positive  http://farm3.static.flickr.com/2279/2246403516...
997  Negative  http://farm3.static.flickr.com/2267/2097660536...
998  Negative  http://farm3.static.flickr.com/2196/2102009201...
999  Negative  http://farm3.staticflickr.com/2088/2356741358_...

[1000 rows x 2 columns]

In [51]:
start = timeit.default_timer()


test_data = []
d = test_images['imageurl']
for i in range(len(d)):
  clear_output(wait=True)

  try:
    img = url_to_image(d[i])
  except HTTPError  as err:
    if err.code == 404 or err.code == 410 or err.code == 104:
      d.drop([i], inplace=True)
    else:
      raise
  image = cv2.resize(img,(224,224) ,interpolation = cv2.INTER_AREA)
  test_data.append(image)

  stop = timeit.default_timer()

  if(i/len(test_images)*100)<5:
    expected_time = "Calculating..."
  else:
    time_perc =  timeit.default_timer()
    expected_time = np.round(((time_perc-start)/(i/len(test_images)))/60,2)

    print("Current Progress: ",np.round(i/len(test_images) * 100,2),"%")
    print("Current Run Time: ",np.round((stop-start) / 60,2),"minutes")
    print("Expected Run Time: ",expected_time,"minutes")
test_data = np.array(test_data)

Current Progress:  99.9 %
Current Run Time:  3.0 minutes
Expected Run Time:  3.01 minutes

In [52]:
print("Shape of new dataframes - {} , {}".format(test_data.shape, test_images.shape))

Shape of new dataframes - (1000, 224, 224, 3) , (1000, 2)

In [53]:
test_data=test_data*255

In [54]:
test_images

    sentiment                                           imageurl
0    Positive  http://farm1.static.flickr.com/26/62190334_ade...
1    Negative  http://farm2.static.flickr.com/1092/1401073618...
2    Positive  http://farm1.static.flickr.com/147/396718601_a...
3    Positive  http://farm2.static.flickr.com/1067/710771991_...
4    Negative  http://farm4.static.flickr.com/3293/2397993330...
..        ...                                                ...
995  Positive  http://farm1.static.flickr.com/99/310737223_68...
996  Positive  http://farm3.static.flickr.com/2279/2246403516...
997  Negative  http://farm3.static.flickr.com/2267/2097660536...
998  Negative  http://farm3.static.flickr.com/2196/2102009201...
999  Negative  http://farm3.staticflickr.com/2088/2356741358_...

[1000 rows x 2 columns]

In [55]:
encoder = LabelEncoder()
encoder_df = pd.DataFrame(encoder.fit_transform(test_images[['sentiment']]))
test_images = test_images.join(encoder_df)
test_images.drop('sentiment',axis = 1,inplace=True)

/usr/local/lib/python3.8/dist-packages/sklearn/preprocessing/_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [56]:
test_label = test_images.iloc[:,1:]

In [57]:
test_label

     0
0    1
1    0
2    1
3    1
4    0
..  ..
995  1
996  1
997  0
998  0
999  0

[1000 rows x 1 columns]

In [61]:
test_label_categorical = tf.keras.utils.to_categorical(test_label,num_classes=2)
test_label_categorical

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]], dtype=float32)

In [62]:
hist = model.fit(test_data,test_label_categorical, batch_size=5, epochs=64, validation_split=0.25)

Epoch 1/64
150/150 [==============================] - 9s 63ms/step - loss: 1.2726 - acc: 0.6213 - val_loss: 0.8879 - val_acc: 0.5760
Epoch 2/64
150/150 [==============================] - 9s 63ms/step - loss: 0.8074 - acc: 0.6800 - val_loss: 0.8474 - val_acc: 0.6480
Epoch 3/64
150/150 [==============================] - 10s 66ms/step - loss: 0.7693 - acc: 0.6813 - val_loss: 0.8219 - val_acc: 0.6680
Epoch 4/64
150/150 [==============================] - 10s 64ms/step - loss: 0.7297 - acc: 0.6973 - val_loss: 0.8385 - val_acc: 0.6320
Epoch 5/64
150/150 [==============================] - 10s 66ms/step - loss: 0.6733 - acc: 0.7560 - val_loss: 0.8280 - val_acc: 0.6600
Epoch 6/64
150/150 [==============================] - 10s 65ms/step - loss: 0.6831 - acc: 0.7533 - val_loss: 0.8427 - val_acc: 0.6560
Epoch 7/64
150/150 [==============================] - 10s 65ms/step - loss: 0.6801 - acc: 0.7680 - val_loss: 0.7865 - val_acc: 0.6680
Epoch 8/64
150/150 [==============================] - 10s 64ms/step - loss: 0.6578 - acc: 0.7573 - val_loss: 0.7818 - val_acc: 0.6960
Epoch 9/64
150/150 [==============================] - 10s 64ms/step - loss: 0.6045 - acc: 0.8067 - val_loss: 0.8025 - val_acc: 0.6640
Epoch 10/64
150/150 [==============================] - 10s 65ms/step - loss: 0.5933 - acc: 0.8053 - val_loss: 0.8347 - val_acc: 0.6960
Epoch 11/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5903 - acc: 0.8067 - val_loss: 0.8127 - val_acc: 0.6960
Epoch 12/64
150/150 [==============================] - 10s 64ms/step - loss: 0.6075 - acc: 0.8093 - val_loss: 0.7832 - val_acc: 0.6960
Epoch 13/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5582 - acc: 0.8187 - val_loss: 0.8232 - val_acc: 0.6640
Epoch 14/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5457 - acc: 0.8213 - val_loss: 0.8254 - val_acc: 0.6720
Epoch 15/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5375 - acc: 0.8507 - val_loss: 0.8164 - val_acc: 0.7240
Epoch 16/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5253 - acc: 0.8533 - val_loss: 0.7999 - val_acc: 0.6960
Epoch 17/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5034 - acc: 0.8520 - val_loss: 0.7905 - val_acc: 0.7040
Epoch 18/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5247 - acc: 0.8360 - val_loss: 0.9294 - val_acc: 0.6520
Epoch 19/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4836 - acc: 0.8653 - val_loss: 0.8457 - val_acc: 0.6520
Epoch 20/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5110 - acc: 0.8560 - val_loss: 0.8254 - val_acc: 0.6800
Epoch 21/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4833 - acc: 0.8773 - val_loss: 0.8498 - val_acc: 0.6680
Epoch 22/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4714 - acc: 0.8600 - val_loss: 0.8119 - val_acc: 0.7000
Epoch 23/64
150/150 [==============================] - 10s 64ms/step - loss: 0.5006 - acc: 0.8680 - val_loss: 0.8217 - val_acc: 0.7080
Epoch 24/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4671 - acc: 0.8653 - val_loss: 0.8373 - val_acc: 0.6720
Epoch 25/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4342 - acc: 0.8773 - val_loss: 0.8071 - val_acc: 0.6840
Epoch 26/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4685 - acc: 0.8800 - val_loss: 0.9017 - val_acc: 0.6880
Epoch 27/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4718 - acc: 0.8813 - val_loss: 0.8204 - val_acc: 0.6920
Epoch 28/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4412 - acc: 0.8760 - val_loss: 0.8311 - val_acc: 0.7160
Epoch 29/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4662 - acc: 0.8760 - val_loss: 0.8719 - val_acc: 0.7240
Epoch 30/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4281 - acc: 0.8973 - val_loss: 0.8771 - val_acc: 0.7040
Epoch 31/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4331 - acc: 0.8720 - val_loss: 0.8524 - val_acc: 0.7000
Epoch 32/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4008 - acc: 0.9147 - val_loss: 0.8228 - val_acc: 0.7240
Epoch 33/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4551 - acc: 0.8867 - val_loss: 0.8873 - val_acc: 0.6560
Epoch 34/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3925 - acc: 0.9027 - val_loss: 0.8887 - val_acc: 0.6760
Epoch 35/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4138 - acc: 0.9093 - val_loss: 0.8633 - val_acc: 0.7280
Epoch 36/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4412 - acc: 0.8907 - val_loss: 0.9053 - val_acc: 0.6920
Epoch 37/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4249 - acc: 0.8973 - val_loss: 0.8715 - val_acc: 0.6560
Epoch 38/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4202 - acc: 0.8987 - val_loss: 0.8819 - val_acc: 0.6600
Epoch 39/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3731 - acc: 0.9040 - val_loss: 0.8602 - val_acc: 0.6920
Epoch 40/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3870 - acc: 0.9093 - val_loss: 0.8874 - val_acc: 0.7040
Epoch 41/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4015 - acc: 0.9093 - val_loss: 0.9117 - val_acc: 0.6800
Epoch 42/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4433 - acc: 0.8960 - val_loss: 0.8741 - val_acc: 0.6960
Epoch 43/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4032 - acc: 0.9067 - val_loss: 1.0435 - val_acc: 0.6280
Epoch 44/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3902 - acc: 0.9133 - val_loss: 0.8926 - val_acc: 0.6760
Epoch 45/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3894 - acc: 0.9067 - val_loss: 0.8711 - val_acc: 0.6760
Epoch 46/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3830 - acc: 0.9120 - val_loss: 0.8769 - val_acc: 0.6560
Epoch 47/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4012 - acc: 0.9080 - val_loss: 1.0376 - val_acc: 0.6440
Epoch 48/64
150/150 [==============================] - 10s 65ms/step - loss: 0.3696 - acc: 0.9173 - val_loss: 0.9256 - val_acc: 0.6720
Epoch 49/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4107 - acc: 0.9133 - val_loss: 0.9535 - val_acc: 0.7000
Epoch 50/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3622 - acc: 0.9240 - val_loss: 0.9786 - val_acc: 0.6880
Epoch 51/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3939 - acc: 0.9200 - val_loss: 1.0375 - val_acc: 0.6680
Epoch 52/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3543 - acc: 0.9267 - val_loss: 1.1059 - val_acc: 0.6680
Epoch 53/64
150/150 [==============================] - 10s 66ms/step - loss: 0.4123 - acc: 0.9080 - val_loss: 1.0399 - val_acc: 0.6440
Epoch 54/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3652 - acc: 0.9160 - val_loss: 0.9539 - val_acc: 0.6440
Epoch 55/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4002 - acc: 0.9080 - val_loss: 1.0265 - val_acc: 0.6040
Epoch 56/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3726 - acc: 0.9120 - val_loss: 1.0186 - val_acc: 0.6200
Epoch 57/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3685 - acc: 0.9293 - val_loss: 0.9348 - val_acc: 0.6760
Epoch 58/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3493 - acc: 0.9307 - val_loss: 0.9937 - val_acc: 0.6360
Epoch 59/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3380 - acc: 0.9320 - val_loss: 0.8795 - val_acc: 0.6920
Epoch 60/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3546 - acc: 0.9267 - val_loss: 0.9153 - val_acc: 0.6920
Epoch 61/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3691 - acc: 0.9160 - val_loss: 0.9385 - val_acc: 0.6760
Epoch 62/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3738 - acc: 0.9253 - val_loss: 0.9952 - val_acc: 0.7040
Epoch 63/64
150/150 [==============================] - 10s 64ms/step - loss: 0.4030 - acc: 0.9080 - val_loss: 1.0461 - val_acc: 0.6480
Epoch 64/64
150/150 [==============================] - 10s 64ms/step - loss: 0.3991 - acc: 0.9080 - val_loss: 1.0077 - val_acc: 0.6360

In [63]:
model.evaluate(training_data,training_label_categorical)

29/29 [==============================] - 5s 186ms/step - loss: 0.8398 - acc: 0.7043

[0.839820146560669, 0.7043189406394958]

In [64]:
model.evaluate(test_data,test_label_categorical)

32/32 [==============================] - 7s 216ms/step - loss: 0.4497 - acc: 0.8800

[0.4496575891971588, 0.8799999952316284]

In [65]:
def img_data(d): 
  tx = []
  img = url_to_image(d)
  image = cv2.resize(img,(224,224) ,interpolation = cv2.INTER_AREA)
  tx.append(image)
  tx = np.array(tx)
  return tx

In [66]:
def sentiment(p):
  if(p == 0):
    return 'Negative'
  else:
    return "Positive"

In [67]:
def get_prediction(x):
  tx = img_data(x)
  res = np.argmax(model.predict(tx))
  return sentiment(res)

In [68]:
l = 'https://th.bing.com/th/id/OIP.b-YLmeGfdPFHAAO-NyD2owHaHa?w=156&h=180&c=7&r=0&o=5&pid=1.7'
print("Predicted: ", get_prediction(l))

1/1 [==============================] - 0s 185ms/step
Predicted:  Negative

In [70]:
k = 'https://th.bing.com/th/id/OIP.AC14ntaV9uLkfI_I8Wx4PAHaEs?w=289&h=184&c=7&r=0&o=5&pid=1.7'
print("Predicted: ", get_prediction(k))

1/1 [==============================] - 0s 18ms/step
Predicted:  Negative

In [71]:
i = 'https://th.bing.com/th/id/OIP.G7i9YVdJ8A5bRqoOdPQVfAAAAA?w=116&h=180&c=7&r=0&o=5&pid=1.7'
print("predicted: ",get_prediction(i))

1/1 [==============================] - 0s 16ms/step
predicted:  Negative

In [72]:
o = ''
print("predicted: ",get_prediction(o))

1/1 [==============================] - 0s 15ms/step
predicted:  Negative

In [73]:
p = 'https://th.bing.com/th/id/OIP.r0aOnlQ51qfje_-pilV4hAHaJI?w=131&h=180&c=7&r=0&o=5&pid=1.7'
print("predicted: ",get_prediction(p))

1/1 [==============================] - 0s 16ms/step
predicted:  Negative

In [74]:
u = 'https://th.bing.com/th/id/OIP.LLorE-TsPyNY_EAqNIDZYwHaHH?w=167&h=180&c=7&r=0&o=5&pid=1.7'
print("Predicted: ",get_prediction(u))

1/1 [==============================] - 0s 18ms/step
Predicted:  Negative

In [75]:
from PIL import Image
hun = 'https://th.bing.com/th/id/OIP.R78esYziCs7kUbBRP6Io8wAAAA?w=183&h=186&c=7&r=0&o=5&pid=1.7'
print("Predicted: ",get_prediction(hun))

1/1 [==============================] - 0s 17ms/step
Predicted:  Negative

In [80]:
model.save('best_model.h5')

In [76]:
p = ""
print("Predicted: ", get_prediction(p))

1/1 [==============================] - 0s 16ms/step
Predicted:  Positive

In [78]:
o=""
print("Predicted: ", get_prediction(o))

1/1 [==============================] - 0s 17ms/step
Predicted:  Positive

In [79]:
s=""
print("Predicted: ", get_prediction(s))

1/1 [==============================] - 0s 28ms/step
Predicted:  Positive